.Function {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(220, 220, 220, 1.0);

    .Item {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
            background: rgba(140, 140, 140, 1.0);
        }

        .Icon {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

            img {
                position: absolute;
                width: 64%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    .Draw {
        position: absolute;
        width: 128px;
        height: 32px;
        left: 80px;
        top: -42px;
        filter: drop-shadow(0px 0px 1px #aaaaaa);

        .Arrow {
            position: absolute;
            width: 10px;
            height: 10px;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            transform: rotate(45deg);
            background: rgba(30, 30, 30, 1.0);
        }

        .Type {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 32px;
            cursor: pointer;

            .Icon {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;

                &:hover {
                    background: rgba(80, 80, 80, 1.0);
                }

                img {
                    position: absolute;
                    width: 50%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    filter: invert(1);
                }
            }
        }
    }
}