.Inspector {
    position: absolute;
    width: 260px;
    height: calc(100% - 200px);
    top: 0;
    right: 0;
    background-color: #2b2b2b;
    box-sizing: border-box;
    border: 1px solid #444444;
}