.Suspend {
    .Test {
        position: absolute;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background: #dddddd;
        color: #2b2b2b;
        font-size: 20px;
        left: 500px;
        top: 500px;
    }
}